name: CI
on: [push]
jobs:
  setpackage:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - name: build image
        run: |
          git clone https://github.com/gl-inet/glbuilder.git
          cd glbuilder
          wget https://raw.githubusercontent.com/Jinnrry/ax1800_build/main/config.txt
          cp config.txt .config
          cat .config
          sudo apt-get update && sudo apt-get install zip device-tree-compiler g++ ncurses-dev python asciidoc bash bc binutils bzip2 fastjar flex gawk gcc genisoimage gettext git intltool jikespg libgtk2.0-dev libncurses5-dev libssl-dev make mercurial patch perl-modules python2.7-dev rsync ruby sdcc subversion unzip util-linux wget xsltproc zlib1g-dev zlib1g-dev -y
          make V=s
          zip -q -r output.zip ./bin
      - name: Output
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: glbuilder/output.zip
