name: CI
on: [push]
jobs:
  setpackage:
    runs-on: ubuntu-20.04
    steps:
      - name: build image
        run: |
          git clone https://github.com/gl-inet/gl-infra-builder.git
          cd gl-infra-builder
          python3 setup.py -c configs/config-wlan-ap-5.4.yml
          cd wlan-ap/openwrt
          ./scripts/gen_config.py target_wlan_ap-gl-ax1800-5-4 luci
          sed -i "/helloworld/d" "feeds.conf.default"
          echo "src-git helloworld https://github.com/fw876/helloworld.git" >> "feeds.conf.default"
          ./scripts/feeds update helloworld
          ./scripts/feeds install -a -f -p helloworld
      - name: Setup Debug Session
        uses: csexton/debugger-action@master
